/* CSS styling elements go here */
:root {
  /* all unused variables will be deleted from final build */
  --daylight: #fcfcff;
  /* deep scarlet is for de-bugging */
  --deep-scarlet: #e80040;
  --aluminum: #d8d8d8;
  /* --primary-green: #00d1b2; */
  /* --soft-white: #fcfdf4; */
  /* --lime: #5af7a2; */

}

html {
  background-color: var(--daylight);
  color: black;
}

.hidden {
  visibility: hidden;
}

body {
  background-color: var(--daylight);
}

header {
  width: 100%;
  text-align: inherit;
}


.navbar {
  background: linear-gradient(#8a8a8a, #cccccc);
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  max-height: 5rem;
}

.navbar-item {
  display: wrap;
  flex-wrap: wrap;
  background: transparent;
  max-width: fit-content;
}

.navbar-link {
  display: flex;
  background: linear-gradient(#8a8a8a, #cccccc);
}

#navbarBasicExample
{
  background: linear-gradient(#8a8a8a, #cccccc);
}

.navbar-dropdown a {
  background: linear-gradient (white, white);
  font-weight: 500;
}

#landingContainer {
  display: flex;
  flex-direction: row;
  /* the line below is needed */
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--daylight);
  border: none;
  margin: 0.75rem;
}

/* landing page button to start things off */
#startBtn {
  justify-content: center;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  justify-content: center;
  padding: 0.625rem;
  width: 15rem;
  border: solid 1px lightgrey;
  border-radius: 8px;
  margin-top: 4.5rem;
  margin-left: 24%;
  margin-bottom: 2.5rem;
}

/* ID not currently used, may be in the future. If not, delete before final build */
#colorWordPage {
  display: flex;
  flex-wrap: wrap;
}

/* Can be applied to selected color to make it visually obvious it's been clicked */
.selectedColor {
  border-color: black;
  border: dashed;
  padding: 2px;
  border-width: 3px;
}


#colorPick {
  display: flex;
  align-content: space-around;
}

/* Title above color selection area */
#colorName {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0.4rem;
  font-size: 1.625rem;
  font-weight: 500;
}  

/* this is the generated color palette area */
#pickerDiv {
  display: flex;
  flex-wrap: wrap;
  max-width: 30rem;
  height: 10.75rem;
  margin: 0.25rem 0 1.25rem 0;
}

.pickBox {
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid #D7D7D7;
  margin: 0.25rem 0.5rem;
  border-radius: 4px;
}

/* Title above word input a */
#wordInputHeader {
  text-align: center;
  margin: 0.25rem;
  font-size: 1.625rem;
  font-weight: 500;
}

/* #retryCard {
  display: flex;
  flex-wrap: flex;
  flex-direction: column;
  justify-content: center;
} */

/* this container is for both the color palette and the word tile */
#inputArea {
  display: flex;
  margin-top: 2.5rem;
  margin-bottom: 0.75rem;
  justify-content: center;
}

#inputArea div {
  direction: flex;
  flex: wrap;
  flex-direction: column;
  justify-content: center;
}

#inputArea div div {
  direction: flex;
  flex-direction: row;
}


#wordInputContainer {
  width: 35%;
}

/* This is the tile where you input words and can also return home */
#inputTile {
  background: linear-gradient(#8a8a8a, #e2e2e2);
  border: solid 1px lightgrey;
  border-radius: 16px;
  max-height: 9.75rem;
}

#submitHomeBtns {
  display: flex;
  flex: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}


#wordSubmit {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  background: linear-gradient(#0BB7A2, #28e1df);
  /* background: linear-gradient(#a9bcc4, #d1e6ee); */
  margin: 6px 4px 12px 0;
  padding: 4px;
  border-radius: 16px;
  text-align: center;
  width: 8rem;
}

/* Home Button on word input tile */
#startOver {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  background: linear-gradient(#838383, #cacaca);
  margin: 6px 0 12px 0;
  padding: 4px;
  border-radius: 16px;
  width: 8rem;
}

/* entry field to type words into */
#wordText {
  font-size: 1.2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.6rem;
  border-radius: 4px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content  */
.modal-content {

  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content p {
  color: #000;
  font-weight: bold;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.bulma-fa-mixin {
  background-color: transparent;
}


/* results tiles */
.columns {
  justify-content: center;
}

/* .colorTile {
  display: flex;
  flex-wrap: wrap;
  text-shadow: #ABABAB 2px 2px 2px;
  background: linear-gradient(to left, #E0E0E0,#d1d1d1);
  color: black;
  font-size: 1.25rem;
  min-height: 7rem;
  border-radius: 16px;
} */

.colorTile p {
  font-size: 1.25rem;
}

.column1,
.column2,
.column3,
.column4,
.column5 {
  width: 18%;
}

/* word tile with synonym search results */
#wordTile {
  background-color: #F4ECE1;
  background: linear-gradient(to right, #faf7ee,#e2d1b1);
  border: solid;
  border-color: #DAD7D2;
  border-radius: 8px;
  min-height: 4.2rem;
  min-width: 15%;
  border-width: 1px;
}

#wordTile p {
  font-size: 1.25rem;
}


/* likely to be compressed to one ID */
#colorTiles,
#color0,
#color1,
#color2,
#color3,
#color4 {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(to left, #E0E0E0,#d1d1d1);
  border-radius: 16px;
  min-height: 7rem;
}