/* CSS styling elements go here */
:root {
    --soft-white: #fcfdf4;
    /* no seriously, daylight has a known color, this should be close */
    --daylight: #f4f9ff;
    --lavender: #e4e0fd;
    --lime: #5af7a2;
    --coral: #fbbdbd;
    --straw: #f8ecd3;
    --orange-smoothie: #ffccae;
    --slate-blue: #a9b3cc;
    --deep-scarlet: #e80040;
    --primary-green: #00d1b2;
}

html {
    background-color: var(--daylight);
    color: black;
    /* these settings may change depending on how things look */
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
}

body {
    background-color: var(--daylight);
}

header {
    width: 100%;
    text-align: center;
}

/* we likely own't even need this */
header h1 {
    color: black;
    font-size: 4rem;
}

#navbar {
    background-color: var(--lavender);
    color: black;
    font-size: 1.8rem;
    width: 100%;
}


#landingContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    border-color: lightgrey;
    border-radius: 4px;
    border: solid;
    margin: 0.75rem;
}

.pictureContainer {
    margin: 0.75rem;
    flex-wrap: wrap;
}

.quoteContainer {
    flex-wrap: wrap;
    background:rgb(255, 255, 255);
    font-size: 1.2rem;
    border-color: lightgrey;
    margin: 0.75rem;
    max-width: 40%;
}

#startBtn {
    flex-wrap: wrap;
    color: white;
    background-color: var(--primary-green);
    padding: 4px 8px 4px 8px;
    /* more people should use border-radius */
    border-radius: 8px;
    font-size: 1.5rem;
    margin: 8px;
}

.hidden {
    visibility: hidden;
}

#wordSubmit {
    color: black;
    font-size: 1.2rem;
    background-color: var(--primary-green);
    background-color: rgb(247, 236, 198);
    margin: 6px 0 12px 0;
    padding: 4px;
    border-radius: 6px;
    text-align: center;
    min-width: 7rem;
}


#colorSubmit {
    text-align: center;
    font-size: 1.2rem;
    color: black;
    background-color: rgb(196, 156, 221);
    margin: 6px 0 12px 0;
    padding: 4px;
    border-radius: 6px;
    min-width: 7rem;
}

#startOver {
    text-align: center;
    font-size: 1.2rem;
    color: black;
    background-color: rgb(245, 104, 116);
    margin: 6px 0 12px 0;
    padding: 4px;
    border-radius: 6px;
    min-width: 7rem;
}

#wordText {
    background-image: none;
    font-size: 1.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.6rem;
}
